.container-history {
    padding-top: 0 !important;
}

.row-history.header {
    height: 60px;
    padding: 1em 0;
    background: #1A237E;
    border-radius: 0 20px 0 0 !important;
}

.row-history.header span {
    color: #FFFFFF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.row-history {
    color: #000000;
    width: 1000px;
    height: 400px;
    background: #FFFFFF;
    overflow-y: auto;
}

.row-line {
    border-bottom: solid 1px #E1E1E1;
    padding: 1.3em 0;
    color: #000000;
}

.row-line:last-of-type {
    border-bottom: none;
}

.row-line span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
}

.row-history.footer {
    height: 55px;
    padding: 0.9em 0;
    border-radius: 0 0 20px 20px !important;
}

.row-history.footer span {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.row-history.footer .arrow {
    color: #000000;
    font-size: 20px;
    margin: 0 5px;
}

.row-history.footer .arrow.active {
    color: #1A237E;
    cursor: pointer;
}